html {
  box-sizing: border-box;
}
body {
  background: url('./assets/logo2.png');
}

.layout {
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  max-width: 80rem;
}

.form-container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 3rem 1rem;
  max-width: 44rem;

  background-color: #00eeff38;
  border-radius: 8px;
}

.input-label {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  text-align: center;

  padding: .5rem;
}
.input-container {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}
.input {
  margin-top: .5rem;

  border-radius: 8px;
  border: none;

  background-color: white;

  width: 100%;
  height: 1.5rem;
}

.button {
  margin-top: 1rem;
  border-radius: 8px;
  border: none;

  background-color: #0099ffa4;
  transition: all .5s;

  padding: .5em .5em;

  margin-inline: .5rem;

  width: 95%;
}
.button:hover {
  cursor: pointer;

  background-color: #0099ff;
}